 
/* .paginate-container li{
    display: inline-block;
    color: red;
    list-style-type: none;
    padding: 20px;
    border: 2px solid black;
    cursor: pointer;
    
} */

 	.MuiSlider-track {
         /* width: 20%; */

     }
     .MuiSlider-thumb {
          
         /* color: red; */
         /* background-color: red; */
     }